---
import type { CollectionEntry } from 'astro:content';
import { Pill } from '@eliancodes/brutal-ui';
import SummaryCard from '../generic/SummaryCard.astro';
import { Button } from '@eliancodes/brutal-ui';

interface Career {
  id: string;
  slug: string;
  body: string;
  collection: string;
  data: {
    title: string;
    description: string;
    tags: string[];
    pubDate: Date;
    imgUrl: {
      src: string;
      width: number;
      height: number;
      format: string;
    };
    draft: boolean;
    link: string;
  };
}

interface Props {
  careers: Career[];
}

const { careers } = Astro.props;
---

<SummaryCard
  title={careers[0].data.title}
  imgAlt={careers[0].data.title}
  imgSrc={careers[0].data.imgUrl}
  description={careers[0].data.description}
>
  <div class='flex justify-end my-4'>
    <!-- This is where we re-route the podcast episodes. Will need to reroute to spotify podcast -->
    <Button href={`/career/${careers[0].slug}/`}>Listen &rarr;</Button>
  </div>

  <div class='hidden sm:inline-block'>
    <p class='poppins mt-2'>tags:</p>
    <div class='flex justify-between items-center'>
      <ul class='flex gap-4 mt-2'>
        {
          careers[0].data.tags.map((tag) => {
            return (
              <li>
                <a class="sanchez" href={`/career/tags/${tag.toLowerCase()}/`}>
                  <Pill>{tag}</Pill>
                </a>
              </li>
            );
          })
        }
      </ul>
      {
        careers[0].data.draft && (
          <span class='bg-green rounded-full border-2 py-1 px-4 text-sm border-black card-shadow'>
            Draft
          </span>
        )
      }
    </div>
  </div>
</SummaryCard>
